<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
<h1>YouReachWeTeach</h1>
<img src="/tenor.gif" alt="Diagram about the project">
<ul>
  <li>
    This is a website in which you are able to purchase the latest basketballs, clothes, gear, shoes and jerseys from all of the latest brands.
  </li>
</ul>
</body>
</html>