<header>
  <nav>
    <ul>
      <li><%= link_to "Basketballs", "/basketballs" %></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
</header>