<h1>Contact</h1>
<img src="/tenor.gif" alt="Diagram about the project">
<br>
<% @contacts.each do |contact| %>
  <p><b>Address: </b><%= contact.address %></p>
  <p><b>Number: </b><%= contact.phone %></p>
  <p><b>Email: </b><%= contact.email %></p>
<% end %>
