<h1>Shoes</h1>
<% @shoes.each do |shoe| %>
  <h2><%=shoe.name%></h2>
  <p>
    <strong>Brand:</strong>
    <%=shoe.brand.name%>
  </p>
  <p>
    <strong>Price:</strong>
    <%=shoe.price%>
  </p>
<%end%>
