<h1>Basketballs</h1>
<% @basketballs.each do |basketball| %>
  <h2><%=basketball.name%></h2>
  <p>
    <strong>Brand:</strong>
    <%=basketball.brand.brand%>
  </p>
  <p>
    <strong>Price:</strong>
    <%=basketball.price%>
  </p>
<%end%>
